@media screen and (width >= 240rem) /*240rem=3840px*/{
  .attribution{
  left:50%;
  top:75%;
  }
}

@media screen and (max-width: 24rem) /* 24rem= 375px*/ {
  body {
    display: flex;
    width: 23.4375rem;
    height: 41.6875rem;
    padding: 1.75rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } 
  .container {
    width: 21.4375rem;
    height: 38.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem; 
  }
  .image img {
    content:url($mobile-image);
    width: 21.48106rem;
    height:28.625rem;
    position: absolute;
    height: auto;
    inset: 6.81rem 0.05rem 16.47rem 0.01rem;
    border-radius: 0.625rem;
    padding-right: 0;
    flex-shrink: 0;
  }
span {
  inset: 16.5rem 14.19rem 20.75rem 1.5rem;
  color: $dark-grayish-blue;
  width: 5.75rem;
  height: 0.9375rem;
  font-weight: $fw-500;
  font-size: 0.75rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.3125rem;
}

h1 {
  font-family: "Fraunces", serif;
  color: $very-dark-blue;
  inset: 4.19rem 2rem 17.94rem 20.75rem;
  font-weight: $fw-700;
  width: 18.4375rem;
  height: 4rem;
  inset: 18.19rem 1.5rem 16rem 1.5rem;
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  display: flex;
  position: absolute;
}
p {
  font-family: "Fraunces", serif;
  color: $dark-grayish-blue;
  font-size: 0.875rem;
  position: absolute;
  inset: 23.75rem 1.5rem 9.25rem 1.5rem;
  font-style: normal;
  font-weight: $fw-500;
  width:18.4375rem;
  height: 1.5rem;
  line-height: 1.6rem;
}
.price h2 {
  font-family: "Fraunces", serif;
  color: $dark-cyan;
  position: absolute;
  inset: 30.44rem 11.97rem 5.75rem 1.53rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: $fw-700;
  line-height: 2rem;
}

.price p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  position: fixed;
  inset: 30.75rem 7.78rem 6rem 10.66rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
}

.btn {
  width: 18.4375rem;
  height: 3rem;
  position: fixed;
  inset: 33.69rem 1.44rem 1.5rem 1.56rem;
  border-radius: 0.5rem;
  background-color: $dark-cyan;
  flex-shrink: 0;
}

button {
  /* Button Text */
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: $white;
  background-color: transparent;
  border: none;
  position: fixed;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  right: 37%;
}
.btn img {
  display: inline-flex;
  outline: none;
  color: $white;
  margin-right: 6;
  position: relative;
  left: 28%;
  top: 35%;
  z-index: 1;
  height: 1rem;
}
.attribution {

  left: 40%;
  top: 63%;
  font-size: 11px;
}
}