@import "./variables";
@import "./fonts";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $cream;
  display: flex;
  width: 90rem;
  height: 50rem;
  padding: 10.94rem 26.25rem;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: $white;
  width: 37.5rem;
  height: 28.125rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.column {
  flex: 1;
  padding-right: 1.25rem;
}
.image img {
  width: 21rem;
  height: 28.125rem;
  padding-right: 2.4rem;
  flex-shrink: 0;
}
.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem; // Space text elements evenly
  justify-content: space-between; // Space text elements evenly
  height: 100%; // Ensure the container takes full height
}

span {
  font-family: "Montserrat", sans-serif;
  color: $dark-grayish-blue;
  font-weight: $fw-500;
  inset: 2rem 11.03rem 25.19rem 20.72rem; // Shorthand for top, right, bottom, left
  font-size: 0.875rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  display: flex;
  position: absolute;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
h1 {
  font-family: "Fraunces", serif;
  color: $very-dark-blue;
  inset: 4.19rem 2rem 17.94rem 20.75rem;
  font-weight: $fw-700;
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  width: 14.75rem;
  display: flex;
  position: absolute;
  //rem line height
}

p {
  font-family: "montserrat", sans-serif;
  color: $dark-grayish-blue;
  font-size: 0.875rem;
  position: absolute;
  inset: 11.69rem 1.97rem 10.69rem 20.72rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
}

.price h2 {
  font-family: "Fraunces", serif;
  color: $dark-cyan;
  position: absolute;
  inset: 19.25rem 8.81rem 6.87rem 20.75rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.price p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  position: fixed;
  inset: 19.56rem 4.62rem 7.13rem 29.88rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 176.923% */
}
.btn{
width: 14.75rem;
height: 3rem;
position:fixed;
inset:23.12rem 2rem 2rem 20.75rem;
border-radius:0.5rem;
background-color:$dark-cyan;
flex-shrink: 0;
}
button {
    /* Button Text */
font-family: "Montserrat",sans-serif;
font-size: 0.875rem;
color:$white;
background-color: transparent;
border:none;
position:fixed;
font-style: normal;
font-weight: 700;
line-height: 3rem;
right:18%;
}
.btn img {
display:inline-flex;
  outline: none;
  color: $white;
  height: 1rem;
  width: 0.89906rem;
  margin-right:6.0;
  position: relative;
  left: -201.96px;
  top: -43px;
  z-index: 1;
  height: 1rem;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
