/* font-sizes */
/*mobile image */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(30, 38%, 92%);
  display: flex;
  width: 90rem;
  height: 50rem;
  padding: 10.94rem 26.25rem;
  justify-content: center;
  align-items: center;
}

.container {
  background-color: hsl(0, 0%, 100%);
  width: 37.5rem;
  height: 28.125rem;
  border-radius: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.column {
  flex: 1;
  padding-right: 1.25rem;
}

.image img {
  width: 21rem;
  height: 28.125rem;
  padding-right: 2.4rem;
  flex-shrink: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;
  height: 100%;
}

span {
  font-family: "Montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-weight: 500;
  inset: 2rem 11.03rem 25.19rem 20.72rem;
  font-size: 0.75rem;
  font-style: normal;
  line-height: normal;
  letter-spacing: 5px;
  display: flex;
  position: absolute;
  letter-spacing: 0.3125rem;
  text-transform: uppercase;
}

h1 {
  font-family: "Fraunces", serif;
  color: hsl(212, 21%, 14%);
  inset: 4.19rem 2rem 17.94rem 20.75rem;
  font-weight: 700;
  font-size: 2rem;
  font-style: normal;
  line-height: 2rem;
  width: 14.75rem;
  display: flex;
  position: absolute;
}

p {
  font-family: "montserrat", sans-serif;
  color: hsl(228, 12%, 48%);
  font-size: 0.875rem;
  position: absolute;
  inset: 11.69rem 1.97rem 10.69rem 20.72rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem;
}

.price h2 {
  font-family: "Fraunces", serif;
  color: hsl(158, 36%, 37%);
  position: absolute;
  inset: 19.25rem 8.81rem 6.87rem 20.75rem;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2rem;
}

.price p {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8125rem;
  position: fixed;
  inset: 19.56rem 4.62rem 7.13rem 29.88rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.4375rem; /* 176.923% */
}

.btn {
  width: 14.75rem;
  height: 3rem;
  position: fixed;
  inset: 23.12rem 2rem 2rem 20.75rem;
  border-radius: 0.5rem;
  background-color: hsl(158, 36%, 37%);
  flex-shrink: 0;
}

.btn:hover {
  background-color: hsl(212, 21%, 14%);
}

button {
  /* Button Text */
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  color: hsl(0, 0%, 100%);
  background-color: transparent;
  border: none;
  position: fixed;
  font-style: normal;
  font-weight: 700;
  line-height: 3rem;
  right: 17%;
}

.btn img {
  display: inline-flex;
  outline: none;
  color: hsl(0, 0%, 100%);
  margin-right: 6;
  position: relative;
  left: 22%;
  top: 35%;
  z-index: 1;
  height: 1rem;
}

.attribution {
  display: flex;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 75%;
  font-size: 0.6875rem;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (width >= 240rem) {
  .attribution {
    left: 50%;
    top: 75%;
  }
}
@media screen and (max-width: 24rem) {
  body {
    display: flex;
    width: 23.4375rem;
    height: 41.6875rem;
    padding: 1.75rem 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .container {
    width: 21.4375rem;
    height: 38.1875rem;
    flex-shrink: 0;
    border-radius: 0.625rem;
  }
  .image img {
    content: url("images/image-product-mobile.jpg");
    width: 21.48106rem;
    height: 28.625rem;
    position: absolute;
    height: auto;
    inset: 6.81rem 0.05rem 16.47rem 0.01rem;
    border-radius: 0.625rem;
    padding-right: 0;
    flex-shrink: 0;
  }
  span {
    inset: 16.5rem 14.19rem 20.75rem 1.5rem;
    color: hsl(228, 12%, 48%);
    width: 5.75rem;
    height: 0.9375rem;
    font-weight: 500;
    font-size: 0.75rem;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0.3125rem;
  }
  h1 {
    font-family: "Fraunces", serif;
    color: hsl(212, 21%, 14%);
    inset: 4.19rem 2rem 17.94rem 20.75rem;
    font-weight: 700;
    width: 18.4375rem;
    height: 4rem;
    inset: 18.19rem 1.5rem 16rem 1.5rem;
    font-size: 2rem;
    font-style: normal;
    line-height: 2rem;
    display: flex;
    position: absolute;
  }
  p {
    font-family: "Fraunces", serif;
    color: hsl(228, 12%, 48%);
    font-size: 0.875rem;
    position: absolute;
    inset: 23.75rem 1.5rem 9.25rem 1.5rem;
    font-style: normal;
    font-weight: 500;
    width: 18.4375rem;
    height: 1.5rem;
    line-height: 1.6rem;
  }
  .price h2 {
    font-family: "Fraunces", serif;
    color: hsl(158, 36%, 37%);
    position: absolute;
    inset: 30.44rem 11.97rem 5.75rem 1.53rem;
    font-size: 2rem;
    font-style: normal;
    font-weight: 700;
    line-height: 2rem;
  }
  .price p {
    font-family: "Montserrat", sans-serif;
    font-size: 0.8125rem;
    position: fixed;
    inset: 30.75rem 7.78rem 6rem 10.66rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.4375rem;
  }
  .btn {
    width: 18.4375rem;
    height: 3rem;
    position: fixed;
    inset: 33.69rem 1.44rem 1.5rem 1.56rem;
    border-radius: 0.5rem;
    background-color: hsl(158, 36%, 37%);
    flex-shrink: 0;
  }
  button {
    /* Button Text */
    font-family: "Montserrat", sans-serif;
    font-size: 0.875rem;
    color: hsl(0, 0%, 100%);
    background-color: transparent;
    border: none;
    position: fixed;
    font-style: normal;
    font-weight: 700;
    line-height: 3rem;
    right: 37%;
  }
  .btn img {
    display: inline-flex;
    outline: none;
    color: hsl(0, 0%, 100%);
    margin-right: 6;
    position: relative;
    left: 28%;
    top: 35%;
    z-index: 1;
    height: 1rem;
  }
  .attribution {
    left: 40%;
    top: 63%;
    font-size: 11px;
  }
}/*# sourceMappingURL=styles.css.map */